<div class="container">
  <div class="card  ">
    <div class="card-header">
      Mi Perfil
    </div>
    <div class="card-body">
      <h5 class="card-title">{{username}}</h5>
      <p class="card-text">{{businessName}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>

<div class="container">
  <div class="card-header d-flex align-items-center">
    <div class="col-3 flex flex-column">
      <span><b>Acme S.R.L</b></span>
      <span><b> RUC: </b>123456789</span>
    </div>
    <div class="col-6 text-center">
      <strong class="title-profile">Perfil Proveedor</strong>
    </div>
    <div class="col-3 d-flex justify-content-end">
      <button class="button btn-primary" icon="fas fas-save">Guardar</button>
    </div>
  </div>
  <hr />

  <div class="card mb-3">
    <div class="card-header">
      <span>Categorias</span>
    </div>
    <div class="card-body p-4 d-flex">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <input type="checkbox" name="g1" />
        <label>
          <span class=" pl-2">Item</span>
        </label>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <input type="checkbox" name="g1" />
        <label>
          <span class=" pl-2">Item</span>
        </label>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <input type="checkbox" name="g1" />
        <label>
          <span class=" pl-2">Item</span>
        </label>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <input type="checkbox" name="g1" />
        <label>
          <span class=" pl-2">Item</span>
        </label>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      <span>Datos del usuario</span>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col">
          <span class="form-group">
            <label>Correo Electronico</label>
            <input type="text" class="form-control" />
  
          </span>
        </div>
        <div class="col">
          <span class="form-group">
            <label>Representante legal</label>
            <input type="text" class="form-control" />
            
          </span>
        </div>
      </div>
     <div class="row mb-3">
      <div class="col">
        <span class="form-group">
          <label>Telefono</label>
          <input type="text" class="form-control" />
       
        </span>
      </div>
      <div class="col">
        <span class="form-group">
          <label>Celular</label>
          <input type="text" class="form-control" />
    
        </span>
      </div>
     </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      <span>Contacto</span>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col">
          <span class="form-group">
            <label>Nombres</label>
            <input type="text" class="form-control" />
  
          </span>
        </div>
        <div class="col">
          <span class="form-group">
            <label>Apellidos</label>
            <input type="text" class="form-control" />
  
          </span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span class="form-group">
            <label>Cargo</label>
            <input type="text" class="form-control" />
     
          </span>
        </div>
        <div class="col">
          <span class="form-group">
            <label>Telefono</label>
            <input type="text" class="form-control" />
  
          </span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <span class="form-group">
            <label>Correo Electronico</label>
            <input type="text" class="form-control" />
  
          </span>
        </div>
        <div class="col">

        </div>
      </div>

      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center pt-4">
        <button class="btn btn-primary">Agregar nuevo contacto</button>
      </div>
    </div>
  </div>
</div>