<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
         style="min-height: 100vh; background-size: cover; background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=c0d43804e2c7c93143fe8ff65398c8e9);">
  <div class="container-fluid">
    <div class="row  justify-content-center align-items-center d-flex-row  h-100">
      <div class="col-12 col-md-4 col-lg-8">
        <div class="card shadow">
          <div class="card-body">
            <h4 class="card-title mt-3 mb-5 text-center">Registro Proveedores</h4>

            <div class="row">
              <div class="col col-lg-6">
                <div class="d-flex align-items-center">
                  <input name="ruc" class="form-control mr-3"
                         oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                         placeholder="RUC del Proveedor"
                         [ngClass]="{ 'is-invalid' :   rucError.status }"
                         #ruc type="number" pattern="/^\d+$/" maxlength="11">
                  <button type="submit" (click)="searchRUC(ruc.value)" class="btn btn-primary btn-block"><i
                    class="fa fa-search"></i> Validar RUC
                  </button>
                </div>
              </div>
            </div>
            <hr>

            <div class="form-group input-group">
              <input name="" [value]="businessName" class="form-control" disabled placeholder="Razón social"
                     type="text">
            </div>
            <ngb-alert [type]="'danger'" *ngIf="rucError.status" [dismissible]="false">
              <strong>{{rucError.title}}</strong> {{rucError.message}}
            </ngb-alert>
            <form (ngSubmit)="onRegisterSupplier()" [formGroup]="formSupplier">
              <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds[0]">
                <ngb-panel [id]="activeIds[0]">
                  <ng-template ngbPanelTitle>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex" style="font-weight: bold; color: #1c2128;">Categorias</div>
                    </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="row">
                      <div class="col-4" *ngFor="let category of categoryList; let i=index">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" [value]="category.code"
                                 [name]="category.name" (change)="onCategoryChange($event)">
                          <label class="form-check-label">
                            {{  category.name }}
                          </label>
                        </div>
                      </div>
                      <br/>
                      <div class="col-6">
                        <ngb-alert [type]="'danger'" *ngIf="categoryError.status" [dismissible]="false">
                          <strong>{{categoryError.title}}</strong> {{categoryError.message}}
                        </ngb-alert>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
              <br>
              <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds[1]">
                <ngb-panel [id]="activeIds[1]">
                  <ng-template ngbPanelTitle>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex mx-2"><i style="font-weight: bold; color: #1c2128;"
                                                  class="fa fa-angle-down"></i>
                      </div>
                      <div class="d-flex" style="font-weight: bold; color: #1c2128;">Datos del Usuario</div>
                    </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="row">
                      <div class="col">
                        <div class="form-group input-group">
                          <input formControlName="email" class="form-control" placeholder="Correo electrónico"
                                 [ngClass]="{ 'is-invalid' : f.email.errors &&  f.email.value != '' }" type="text">

                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group input-group">
                          <input formControlName="representative" class="form-control" placeholder="Representante legal"
                                 [ngClass]="{ 'is-invalid' : f.representative.errors && f.representative.value != '' }"
                                 type="text">

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group input-group">
                          <input formControlName="phone" class="form-control" placeholder="Teléfono"
                                 [ngClass]="{ 'is-invalid' : f.phone.errors  && f.phone.value != '' }" type="text">
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group input-group">
                          <input formControlName="cellphone" class="form-control" placeholder="Celular"
                                 [ngClass]="{ 'is-invalid' : f.cellphone.errors && f.cellphone.value != ''}"
                                 type="text"/>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
              <br>
              <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds[2]">
                <ngb-panel [id]="activeIds[2]">
                  <ng-template ngbPanelTitle>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex mx-2"><i style="font-weight: bold; color: #1c2128;"
                                                  class="fa fa-angle-down"></i>
                      </div>
                      <div class="d-flex mr-4" style="font-weight: bold; color: #1c2128;">Representante</div>
                    </div>

                  </ng-template>
                  <ng-template ngbPanelContent>

                    <app-contact *ngFor="let contact of contacts; let i = index"
                                 (sendFormEmitter)="sendFormEmitter($event)"
                                 (registerFormEmitter)="registerFormEmitter($event)"
                                 (removeFormEmitter)="removeFormEmitter($event)"
                                 title="Contacto #{{i+1}}" [index]="i" [contact]="contact"></app-contact>

                    <button type="button" (click)="addContact()"
                            class="btn btn-primary ">Agregar nuevo contacto
                    </button>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
              <br>
              <div class="d-flex justify-content-center">
                <re-captcha formControlName="captcha"></re-captcha>
              </div>

              <br>
              <div class="row">
                <div class="col-3"></div>
                <div class="col-6 align-content-lg-center align-content-md-center align-items-center">
                  <button type="submit" [disabled]="!formSupplier.valid" class="btn btn-primary btn-block btn-lg">
                    Registrar
                  </button>
                </div>
                <div class="col-3"></div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

