/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  font-size: 14px;
}
body {
  height: 100%;
  margin: 0px;
}

.container {
  padding: 40px 20px 40px 20px;
}

.red {
  color: #dc3545;
}
.green {
  color: #45b145;
}
.blue {
  color: #007bff;
}
.gray {
  color: gray;
}
