<h4> {{title}}</h4>
<div class="group-add">
  <div class="row">
    <div class="col">
      <div class="form-group input-group">
        <input name="" class="form-control" placeholder="Nombres" type="text">
      </div>
    </div>
    <div class="col">
      <div class="form-group input-group">
        <input name="" class="form-control" placeholder="Apellidos" type="text">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group input-group">
        <input name="" class="form-control" placeholder="Teléfono" type="text">
      </div>
      <div class="form-group input-group">
        <input name="" class="form-control" placeholder="Cargo" type="text">
      </div>
    </div>
    <div class="col">
      <div class="form-group input-group">
        <input name="" class="form-control" placeholder="Correo" type="text">
      </div>
    </div>
  </div>
</div>
<hr/>
